# LAB | Hyperparameter Tuning

**Load the data**

Finally step in order to maximize the performance on your Spaceship Titanic model.

The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

So far we've been training and evaluating models with default values for hyperparameters.

Today we will perform the same feature engineering as before, and then compare the best working models you got so far, but now fine tuning it's hyperparameters.

In [4]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [6]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

Now perform the same as before:
- Feature Scaling
- Feature Selection

In [8]:
#your code here
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler

spaceship.dropna(axis=0, inplace = True)
spaceship.isna().sum()


# Separating features and target
X = spaceship.drop(columns=['Transported'])
y = spaceship['Transported']

# For non-numerical columns, perform one-hot encoding
categorical_cols = X.select_dtypes("object").columns
ohe = OneHotEncoder(sparse_output=False, drop='first')
X_encoded = ohe.fit_transform(X[categorical_cols])

# Replace categorical columns with one-hot encoded columns
X = X.drop(columns=categorical_cols)
X_encoded = pd.DataFrame(X_encoded, columns=ohe.get_feature_names_out(categorical_cols))
X = pd.concat([X.reset_index(drop=True), X_encoded.reset_index(drop=True)], axis=1)

# Perform feature scaling (if needed)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

- Now let's use the best model we got so far in order to see how it can improve when we fine tune it's hyperparameters.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

from sklearn.metrics import accuracy_score
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

# Initialize the scaler
scaler = StandardScaler()

# Fit and transform the training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform the test data
X_test_scaled = scaler.transform(X_test)

ada_clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth=3),
                            n_estimators=100, random_state=42, algorithm="SAMME")

ada_clf.fit(X_train_scaled, y_train)

y_pred_test_ada = ada_clf.predict(X_test_scaled)

- Evaluate your model

In [ ]:
#your code here
accuracy_ada = accuracy_score(y_test, y_pred_test_ada)
print(f"Gradient Boosting Accuracy: {accuracy_ada:.4f}")

**Grid/Random Search**

For this lab we will use Grid Search.

- Define hyperparameters to fine tune.

In [ ]:
#your code here
grid = {"n_estimators": [100, 200, 500],
        "random_state":[20,42,70],
       "learning_rate": [0, 5, 20],
       "algorithm": ["SAMME"]}

- Run Grid Search

In [ ]:
model = GridSearchCV(estimator = AdaBoostClassifier(), param_grid = grid, cv=5, verbose=10)

In [ ]:
model.fit(X_train_scaled, y_train)

In [ ]:
model.best_params_

- Evaluate your model

In [ ]:
pred = best_model.predict(X_test_norm)
y_pred_best = best_model.predict(X_test_scaled)

accuracy_best= accuracy_score(y_test, y_pred_best)
print(f"Gradient Boosting Accuracy: {accuracy_best:.4f}")