# LAB | Hyperparameter Tuning

**Load the data**

Finally step in order to maximize the performance on your Spaceship Titanic model.

The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

So far we've been training and evaluating models with default values for hyperparameters.

Today we will perform the same feature engineering as before, and then compare the best working models you got so far, but now fine tuning it's hyperparameters.

In [37]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Machine Learning libraries
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier

# Metrics
from sklearn.metrics import (
    accuracy_score, 
    confusion_matrix, 
    precision_score, 
    recall_score, 
    f1_score, 
    roc_auc_score, 
    mean_absolute_error, 
    mean_squared_error, 
    r2_score
)

In [10]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

Now perform the same as before:
- Feature Scaling
- Feature Selection

In [13]:
# Dropping NaN values
spaceship=spaceship.dropna()
spaceship.isnull().sum()

# Transforming 'Cabin' to  {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}
spaceship['Cabin'] = spaceship['Cabin'].str[0]
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [24]:
# Create dummy variables for non-numerical columns

spaceship_dummies = pd.get_dummies(spaceship, columns=['HomePlanet', 'Cabin', 'Destination'])


# Dropping non-numeric columns from features
features = spaceship_dummies.drop(columns=['PassengerId', 'Name', 'Transported'])
target = spaceship_dummies['Transported']

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=0)

# Display the sizes of the resulting datasets
print("Training set size:", X_train.shape[0])
print("Test set size:", X_test.shape[0])

spaceship_dummies.head()

Training set size: 4624
Test set size: 1982

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,False,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,...,True,False,False,False,False,False,False,False,False,True
1,0002_01,False,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,...,False,False,False,False,True,False,False,False,False,True
2,0003_01,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,...,False,False,False,False,False,False,False,False,False,True
3,0003_02,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,...,False,False,False,False,False,False,False,False,False,True
4,0004_01,False,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,...,False,False,False,False,True,False,False,False,False,True

- Now let's use the best model we got so far in order to see how it can improve when we fine tune it's hyperparameters.

In [31]:
# Gradient Boosting

from sklearn.ensemble import GradientBoostingClassifier


# Create the Gradient Boosting model
gradient_boosting_model = GradientBoostingClassifier(
    n_estimators=100,      # Number of boosting stages
    learning_rate=0.1,     # Step size for updating weights
    max_depth=3,           # Depth of each tree
    random_state=0        # For reproducibility
)

# Train the model
gradient_boosting_model.fit(X_train, y_train)

# Predict on the test set
y_pred = gradient_boosting_model.predict(X_test)

- Evaluate your model

In [41]:
# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print results
print("Gradient Boosting Model Accuracy:", accuracy)
print("Gradient Boosting Model Precision:", precision)
print("Gradient Boosting Model Recall:", recall)
print("Gradient Boosting Model F1:", f1)

Gradient Boosting Model Accuracy: 0.7901109989909183
Gradient Boosting Model Precision: 0.7708138447146866
Gradient Boosting Model Recall: 0.828140703517588
Gradient Boosting Model F1: 0.7984496124031008

**Grid/Random Search**

For this lab we will use Grid Search.

- Define hyperparameters to fine tune.

In [46]:
# Define the model
model = GradientBoostingClassifier()

# Define the parameter grid
param_grid = {
    'n_estimators': [50, 100, 150],
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 5, 7],
    'min_samples_split': [2, 5, 10]
}

- Run Grid Search

In [55]:
# Set up Grid Search
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, scoring='f1', n_jobs=-1)

# Fit the model
grid_search.fit(X_train, y_train)
# Print the best parameters and best F1 score
print("Best parameters found: ", grid_search.best_params_)
print("Best F1 score: ", grid_search.best_score_)

Best parameters found:  {'learning_rate': 0.2, 'max_depth': 3, 'min_samples_split': 2, 'n_estimators': 50}
Best F1 score:  0.8132725435001239

- Evaluate your model

In [53]:
# Use the best estimator from Grid Search
best_model = grid_search.best_estimator_

# Make predictions on the test set
y_pred = best_model.predict(X_test)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print results
print("Tuned Model Accuracy:", accuracy)
print("Tuned Model Precision:", precision)
print("Tuned Model Recall:", recall)
print("Tuned Model F1 Score:", f1)

Tuned Model Accuracy: 0.79313824419778
Tuned Model Precision: 0.7751646284101599
Tuned Model Recall: 0.828140703517588
Tuned Model F1 Score: 0.8007774538386784